/* font added */


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* matching style */

.btn-primary{
    background-color: #4E47FF;
    color: #ffff;
    padding: 12px 36px;
    border-style: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

}


/* banner section style */

.navber{
    display: flex;
    justify-content: space-between;
    padding: 30px 150px;
    align-items: center;
}

.navber h2{
    color: #4E47FF;
    font-size: 34px;
    font-weight: black;
}

.header-section{
    background-image: url(Assets/Hero-bg.png);
    width: 1440px;
    height: 698px;
    background-size: cover;
    margin: 0 auto;
}

.header-title{
    /* align-items: center; */
    text-align: center;
    padding: 150px 267px 150px;
}

.header-title h1{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* action section styless */

.action{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid rebeccapurple; */
    width: 1140px;
    height: 328px;
    margin: 0 auto;
    margin-top: 100px;
}

.action .action-title{
    padding:62px 0;
    /* gap: auto; */
    width: 517px;
    height: 200px;

}

.action .action-title h1{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
}

.action .action-title p{
    color:#4f4e4e;
    font-size: 24px;
    margin-bottom: 20px;

}
.action .action-img img{
    border-radius: 48px;
    width: 403px;
    height: 328px;
}

/* productive style */

.productive{
    width: 1140px;
    height: 300px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #eaeaed;
    border-radius: 10px;
    text-align: center;
}

.productive .productive-title h1{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    padding-top:50px ;
}

.productive .productive-info{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.productive .productive-info h1{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}

.productive .productive-info p{
    font-size: 20px;
    color: #4f4e4e;
}


/* users feedback section */

.users-feedback{
    /* border: 1px solid rebeccapurple; */
    width: 1140px;
    height: 350px;
    margin: 0 auto;
    margin-top: 100px;
}

.users-feedback-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #252432;
}

.users-feedback-card{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

/* card1 */
.users-feedback-card .card1{
    width: 336px;
    height: 243px;
    background-color: #ffffff;
    border: 1px solid rgb(224, 222, 222);
    padding: 24px;
    border-radius: 10px;
}

.users-feedback-card .card1 h3{
    margin: 10px 0px;
}

.users-feedback-card .card1 .card1img{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.users-feedback-card .card1 .card1img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.users-feedback-card .card1 .card1img h5{
    color: #4f4e4e;
    font-size: 16px;
}

.users-feedback-card .card1 .card1img h6{
    color: #928f8f;
    font-size: 14px;
}

/* card2 */
.users-feedback-card .card2{
    width: 336px;
    height: 243px;
    background-color: #ffffff;
    border: 1px solid rgb(224, 222, 222);
    padding: 24px;
    border-radius: 10px;
}
.users-feedback-card .card2 h3{
    margin: 10px 0px;
}
.users-feedback-card .card2 .card1img{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.users-feedback-card .card2 .card1img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.users-feedback-card .card2 .card1img h5{
    color: #4f4e4e;
    font-size: 16px;
}

.users-feedback-card .card2 .card1img h6{
    color: #928f8f;
    font-size: 14px;
}

/* card3 */
.users-feedback-card .card3{
     width: 336px;
    height: 243px;
    background-color: #ffffff;
    border: 1px solid rgb(224, 222, 222);
    padding: 24px;
    border-radius: 10px;
}

.users-feedback-card .card3 h3{
    margin: 10px 0px;
}

.users-feedback-card .card3 .card3img{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.users-feedback-card .card3 .card3img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.users-feedback-card .card3 .card3img h5{
    color: #4f4e4e;
    font-size: 16px;
}

.users-feedback-card .card3 .card3img h6{
    color: #928f8f;
    font-size: 14px;
}

/* form section styles */

.form-section{
    width: 1140px;
    height: 632px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #eaeaed;
    border-radius: 10px;
    display: flex;
    gap: 80px;
    justify-content: space-between;
}

.form-section .form-title h1{
    font-size: 97px;
    font-weight: bold;
    padding: 200px 0px;
    width: 524px;
    height: 232px;
}

.form-section .form-input{
    /* display: block; */
    padding: 71px 0px;
    margin: auto;
    width: 496px;
    height: 490px;
}

.form-section .form-input input[type="text"] , input[type="email"],textarea{
    height: 64px;
    border: 1px solid #928f8f;
    border-radius: 10px;
    background-color: white;
    display: block;
    /* gap: 60px; */
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}

.form-section .form-input .btn-primary1{
    background-color: #4E47FF;
    color: #ffff;
    padding: 12px 36px;
    border-style: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;

}

/* footer section style */

.footer-section{
    width: 1440px;
    height: 428px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    /* border: 1px solid rebeccapurple; */
    padding: 104px 374px;
}

.footer-section .footer-title h1{

    font-size: 100px;
    font-weight: black;
    color: #4E47FF;
}

.footer-section .footer-title p{
    font-size: 14px;
    color: #928f8f;
    margin-bottom: 30px;
}
.footer-section ul{
    list-style: none;
}

.footer-section .footer-list ul{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    color: #4f4e4e;
}